@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--Please do not delete the sample files-->
<!--This is the main loading of the page for website-->
<!--The content inside <main> with pole RenderBody() in _Layout.cshtml will be replaced by the content of this file-->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
