@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<!--Please do not delete the sample files-->
<!--This is the Privacy page of the website-->
<!--The content inside <main> with pole RenderBody() in _Layout.cshtml will be replaced by the content of this file-->

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
