@page
@model ResultsModel
@{
    ViewData["Title"] = "Results page";
}

<div class="text-center">
    <h1 class="display-4">This is a test tab for now</h1>
    <h2>Lorem Ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In molestie curae elementum vehicula sed tortor vestibulum mollis. Vitae justo habitasse dictum habitasse sed fames ligula neque. </p>
    <p>Integer proin class sit eleifend gravida urna primis consequat bibendum id platea suspendisse id. Lorem molestie viverra augue nisl porttitor. Purus litora taciti tellus hendrerit amet aliquam cras magna ultricies. Odio luctus litora duis suspendisse risus gravida ultricies. Maximus blandit maecenas velit egestas potenti bibendum bibendum venenatis tristique. </p>
    <p>Primis dictum fringilla litora nullam nec suspendisse posuere at potenti iaculis et elementum cubilia id nisl. Quisque dapibus nam lobortis lacus at nisi taciti litora odio lacinia condimentum. Et cubilia felis vulputate eu taciti neque tincidunt lacinia donec. Etiam eleifend hendrerit semper auctor porttitor aptent sed aptent nunc a sit rhoncus sagittis. Enim iaculis ornare sagittis nunc aenean adipiscing enim donec. </p>
    <p>Tincidunt cras varius potenti tellus nam ullamcorper curae luctus auctor. Maecenas habitant non id massa hendrerit feugiat tellus eget bibendum primis senectus augue ultrices. Laoreet ultrices sollicitudin cubilia lectus sem nullam ligula ultrices laoreet. Duis dolor facilisis ullamcorper egestas quam netus commodo convallis viverra. </p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>