@page
@model Workspace_Razor.Pages.TestTabs.Tab1Model
@{
    ViewData["Title"] = "Tab 1";
}

<div class="sidebar">
    <h3>Sidebar</h3>

    <ul>
        <li><button class="btn" onclick="show('one')">Opgave 1</button></li>
        <li><button class="btn" onclick="show('two')">Opgave 2</button></li>
        <li><button class="btn" onclick="show('three')">Opgave 3</button></li>
    </ul>

</div>

<div id="opgaveBox" class="opgaveBox">
    Click a button to load content.
</div>

<script src="~/js/opgaveskift.js"></script>
