@page
@model Workspace_Razor.Pages.TestTabs.Tab1Model
@{
    ViewData["Title"] = "Tab 1";
}

<div class="sidebar">
    <h2>Sidebar</h2>
    <ul>
        <li><button class="btn" onclick="show('/Opgaver/Opgave1')">Opgave 1</button></li>
        <li><button class="btn" onclick="show('/Opgaver/Opgave2')">Opgave 2</button></li>
        <li><button class="btn" onclick="show('/Opgaver/Opgave3')">Opgave 3</button></li>
    </ul>
</div>

<div id="opgaveBox" class="opgaveBox">
    <p>Select a task from the sidebar.</p>
</div>

@section Scripts {
    <script src="~/js/opgaveskift.js" asp-append-version="true"></script>
    <script src="/js/jssessionsstorage.js" asp-append-version="true"></script>
}
