@page
@model Workspace_Razor.Pages.TestTabs.Tab1Model
@{
    ViewData["Title"] = "Tab 1";
}

<div class="sidebar">
    <div class="container">

        <h2>Sidebar</h2>
        <ul>
            <li>
                <input type="radio" id="opg1" onclick="show('/Opgaver/Opgave1')" name="opgave" value="Opgave 1" />
                <label for="opg1">Opgave 1</label>
            </li>

            <li>
                <input type="radio" id="opg2" onclick="show('/Opgaver/Opgave2')" name="opgave" value="Opgave 2" />
                <label for="opg2">Opgave 2</label>
            </li>

            <li>
                <input type="radio" id="opg3" onclick="show('/Opgaver/Opgave3')" name="opgave" value="Opgave 3" />
                <label for="opg3">Opgave 3</label>
            </li>
            <li>
                <input type="radio" id="opg4" onclick="show('/Opgaver/Opgave4')" name="opgave" value="Opgave 4" />
                <label for="opg4">Opgave 4</label>
            </li>
            <li>
                <input type="radio" id="opg5" onclick="show('/Opgaver/Opgave5')" name="opgave" value="Opgave 5" />
                <label for="opg5">Opgave 5</label>
            </li>

        </ul>
    </div>
</div>
<main role="main">

    <div id="opgaveBox" class="opgaveBox  addjuster">
        <p>Select a task from the sidebar.</p>
    </div>
    <main>
@section Scripts {
            <script src="~/js/opgaveskift.js" asp-append-version="true"></script>
            <script src="/js/jssessionsstorage.js" asp-append-version="true"></script>
            <script src="/js/dragdrop.js" asp-append-version="true"></script>
}