@page
@model Workspace_Razor.Pages.TestTabs.Tab2Model
@{
    ViewData["Title"] = "Tab 2";
}

<div class="opgBody">
    <div class="sidebar">
        <h3>Sidebar</h3>

        <ul>
            <li><button class="btn" onclick="show('one')">Opgave 1</button></li>
            <li><button class="btn" onclick="show('two')">Opgave 2</button></li>
            <li><button class="btn" onclick="show('three')">Opgave 3</button></li>
        </ul>
    </div>

    <div class="opgaveBox">
        Click a button to load content.
    </div>
</div>



<script src="~/js/opgaveskift.js"></script>
