:root {
    --primary-bar-color: #156082;
    --secondary-bar-color: #83cbeb;
    --accent-color: #f39c12;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-center {
    text-align: center;
}

/* Write your CSS styles in this file */
body {
  /* body style reset */
    margin: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    box-sizing: border-box;
    size: inherit;
    background-color: var(--secondary-bar-color);
}

/*Navbar styles*/
.navbar-left, .navbar-mid, .navbar-right, .navbar {
    display: flex;
    flex: 1;
    align-items: center;
}
.navbar {
    padding: auto;
    position: relative;
}
.navbar-left{
  margin: 12px 0;
    justify-content: flex-start;
}
.navbar-center{
    margin: 12px 0;
    justify-content: center;
}
.navbar-right{
    justify-content: flex-end;
}

.main-wrapper {
    margin: 0 auto;
    box-sizing: inherit;
    background-color: var(--primary-bar-color);
    color: white;
}
.wrapper{
    padding: 0px 24px;
}

/*Navlink styles*/
.nav-link {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}