:root {
    --primary-bar-color: #156082;
    --secondary-bar-color: #83cbeb;
    --third-bar-color: #112f3e;
    --accent-color: #f39c12;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-center {
    text-align: center;
}

/* Write your CSS styles in this file */
body {
  /* body style reset */
    margin: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    box-sizing: border-box;
    size: inherit;
    background-color: var(--secondary-bar-color);
}

/* Header styles and settings */
header {
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    margin: 0;
}

/*Navbar styles*/
.navbar-left, .navbar-mid, .navbar-right, .navbar {
    display: flex;
    flex: 1;
    align-items: center;

}
.navbar {
    padding: auto;
    position: relative;
}
/* Navbar left is for logo */
.navbar-left{
    margin: 12px 0;
    justify-content: flex-start;
    flex: 0.25;
}
/* Navbar center is for navlinks */
.navbar-center{
    justify-content: center;
    background-color: var(--third-bar-color);
    align-self: stretch;
    padding: 0 12px;
    display: flex;
    align-items: center;
}
/* Navbar right is for now unused */
.navbar-right{
    justify-content: flex-end;
}

.main-wrapper {
    margin: 0 auto;
    box-sizing: inherit;
    background-color: var(--primary-bar-color);
    color: white;
}
.wrapper{
    padding: 0px 24px;
}

/*Navlink styles*/
.nav-link {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0px 6px;
}

/*Sidebar style*/
.sidebar {
    position: fixed;
    left: 0;
    width: 220px;
    background-color: steelblue;
    color: white;
    padding: 20px;
}

/*Opgave style*/
.opgaveBox {
    position: relative;
    left: 50%;
    height: 100px;
    width: 200px;
    background-color: white;
}