@page
@model Workspace_Razor.Pages.Opgaver.Opgave3Model
@{
    Layout = null;
}
<!-- IGNORE -->
<!-- This is a basic template file. Do not delet this file -->
<div class="task-window">
    <h2>Task 3</h2>
    <p>This is the premade content for Task 3.</p>
</div>
