@page
@model Workspace_Razor.Pages.Opgaver.Opgave3Model
@{
    Layout = null;
}
<!-- IGNORE -->
<!-- This is a basic template file. Do not delet this file -->
<div class="task-window">
    <h2>Opgave 3 Æg:</h2>
    <p>Lecitin er det i ægget, der virker som en emulgator.</p>
    <p>Lecithin er et phosphorlipid, som du måske har set i biologitimerne.</p>
    <p>Phosporlipider sidder nemlig rundt om cellemembranen.</p>
    
    <p>3a. Hvad er definitionen på en emulgator?</p>
        <input onfocusout="saveanswer('Opgave 3a svar', 'AnswerBox7')" type="text" id="AnswerBox7" name="Answer7" value="">
    <p>3b. Find en figur af et phosphorlipid</p>
    <p>3c. Hvor på din figur vil olien (triglyceridet fra opgave 2) ligge sig.</p>
    <input onfocusout="saveanswer('Opgave 3c svar', 'AnswerBox8')" type="radio" id="AnswerBox8" name="Answer8" value="2 haler, de er upolære" >Ved en af de 2 ”haler”, da de er upolære, og vil kunne blande sig med fedtstof</input>
            <br />
            <input onfocusout="saveanswer('Opgave 3c svar', 'AnswerBox8')" type="radio" id="AnswerBox8" name="Answer8" value ="incorrect">blah blah blah </input>
            <br />
            <input onfocusout="saveanswer('Opgave 3c svar', 'AnswerBox8')" type="radio" id="AnswerBox8" name="Answer8  " value ="incorrect" >blah blah blah </input>
            <br />
        <!--<input onfocusout="saveanswer('Opgave 3c svar', 'AnswerBox8')" type="text" id="AnswerBox8" name="Answer8" value="">-->
    <p>3d. Hvor på din figur vil eddiken befinde sig.</p>
</div>

