@page
@model Workspace_Razor.Pages.Opgaver.Opgave3Model
@{
    Layout = null;
}
<!-- IGNORE -->
<!-- This is a basic template file. Do not delet this file -->
<div class="task-window">
    <h2>Opgave 3 Æg:</h2>
    <p>Lecitin er det i ægget, der virker som en emulgator.</p>
    <p>Lecithin er et phosphorlipid, som du måske har set i biologitimerne.</p>
    <p>Phosporlipider sidder nemlig rundt om cellemembranen.</p>
    
    <p>3a. Hvad er definitionen på en emulgator?</p>
        <input onfocusout="saveanswer('Opgave 3a svar', 'AnswerBox7')" type="text" id="AnswerBox7" name="Answer7" value="">
    <p>3b. Vælg figuren af et phosphorlipid</p>
        <div class="image-options">
        <label style="display:inline-block;margin-right:8px;cursor:pointer;">
            <input onfocusout="saveanswer('Opgave 3b svar', 'Answer3b')" type="radio" id="Answer3b1" name="Answer3b" value="incorrect" style="display:none;" />
            <img src="~/Img/Opgave3/phospha2.png" alt="Triglycerid 1" style="width:150px;height:150px;border:2px solid transparent;object-fit:contain;" onclick="selectImage('Answer3b1', this)" />
        </label>
        <label style="display:inline-block;margin-right:8px;cursor:pointer;">
            <input onfocusout="saveanswer('Opgave 3b svar', 'Answer3b2')" type="radio" id="Answer3b2" name="Answer3b" value="correct" style="display:none;" />
            <img src="~/Img/Opgave3/phospha1.png" alt="Option 2" style="width:150px;height:150px;border:2px solid transparent;object-fit:contain;" onclick="selectImage('Answer3b2', this)" />
        </label>
        <label style="display:inline-block;cursor:pointer;">
            <input onfocusout="saveanswer('Opgave 3b svar', 'Answer3b3')" type="radio" id="Answer3b3" name="Answer3b" value="incorrect" style="display:none;" />
            <img src="~/Img/Opgave3/phospha3.png" alt="Option 3" style="width:150px;height:150px;border:2px solid transparent;object-fit:contain;" onclick="selectImage('Answer3b3', this)" />
        </label>
    </div>
    <p>3c. Hvor på din figur vil olien (triglyceridet fra opgave 2) ligge sig.</p>
    <input onfocusout="saveanswer('Opgave 3c svar', 'AnswerBox8')" type="radio" id="AnswerBox8" name="Answer8" value="incorrect" >Ved OH, da de vil kunne blande sig med fedtstof</input>
            <br />
            <input onfocusout="saveanswer('Opgave 3c svar', 'AnswerBox8')" type="radio" id="AnswerBox8" name="Answer8" value ="incorrect">Ved en af de 2 ”haler”, da de er polære, og vil kunne blande sig med fedtstof</input>
            <br />
            <input onfocusout="saveanswer('Opgave 3c svar', 'AnswerBox8')" type="radio" id="AnswerBox8" name="Answer8  " value ="2 haler, de er upolære" >Ved en af de 2 ”haler”, da de er upolære, og vil kunne blande sig med fedtstof</input>
            <br />
        <!--<input onfocusout="saveanswer('Opgave 3c svar', 'AnswerBox8')" type="text" id="AnswerBox8" name="Answer8" value="">-->
    <p>3d. Hvor på din figur vil eddiken befinde sig.</p>
        <input onfocusout="saveanswer('Opgave 3d svar', 'AnswerBox8')" type="radio" id="AnswerBox8" name="Answer8" value="incorrect" >Det vil ikke kunne blande sig da det er positivt ladet</input>
            <br />
            <input onfocusout="saveanswer('Opgave 3d svar', 'AnswerBox8')" type="radio" id="AnswerBox8" name="Answer8" value ="Da eddike er polært vil det lægge sig ved den negativt ladet fosfat-gruppe.">Da eddike er polært vil det lægge sig ved den negativt ladet fosfat-gruppe.</input>
            <br />
            <input onfocusout="saveanswer('Opgave 3d svar', 'AnswerBox8')" type="radio" id="AnswerBox8" name="Answer8  " value ="incorrect" >Da eddike ikke er polært vil det lægge sig ved den positive ladet fosfat-gruppe.</input>
            <br />
</div>

