@page
@model Workspace_Razor.Pages.Opgaver.Opgave2Model
@{
    Layout = null;
}
<!-- IGNORE -->
<!-- This is a basic template file. Do not delet this file -->
<div class="task-window">
    <h2>Opgave 2 Fedtstof:</h2>
    <p>Fedtstoffer er hovedsaligt triglycerider, som er opbygget af en glyceroldel med tre fedtsyrer på:</p>
    <p>Afhængigt af hvilken olie man bruger kan sammensætningen af fedtsyrer variere. Her er en triglycerid der kan findes i de fleste planteolier:</p>
    
    <p>2a. Find en figur af et triglycerid</p>
    <p>2b. Marker hvor glyceroldelen og de tre fedtsyrer gemmer sig på din figur.</p>
    <p>2c. Find og skriv elektronegativiteten for atomerne på figuren</p>
    
    <p>2d. Er fedtstoffet polært eller upolært?</p>
    <!--<input onfocusout="saveanswer('Opgave 2d svar', 'AnswerBox5')" type="text" id="AnswerBox5" name="Answer5" value="">-->
    <input onfocusout="saveanswer('Opgave 2d svar', 'AnswerBox5')" type="radio" id="AnswerBox5" name="Answer5" value="De tre fedtsyrer er upolære" >Da de tre fedtsyrer som udgør størstedelen af molekylet er upolære, er molekylet som helhed upolært selvom der er en polær gruppe.</input>
            <br />
            <input onfocusout="saveanswer('Opgave 2d svar', 'AnswerBox5')" type="radio" id="AnswerBox5" name="Answer5" value ="incorrect">blah blah blah </input>
            <br />
            <input onfocusout="saveanswer('Opgave 2d svar', 'AnswerBox5')" type="radio" id="AnswerBox5" name="Answer5" value ="incorrect" >blah blah blah </input>
            <br />
    <p>2e. Vil fedtstoffet blande sig med eddike? (hvorfor/hvorfor ikke)</p>
    <!--<input onfocusout="saveanswer('Opgave 2e svar', 'AnswerBox6')" type="text" id="AnswerBox6" name="Answer6" value=""> --> 
       <input onfocusout="saveanswer('Opgave 2e svar', 'AnswerBox6')" type="radio" id="AnswerBox6" name="Answer6" value="nej eddike polært" >Nej, da eddike er polært vil de molekyler samle sig, og ”skille” sig fra det upolære fedtstof.</input>
            <br />
            <input onfocusout="saveanswer('Opgave 2e svar', 'AnswerBox6')" type="radio" id="AnswerBox6" name="Answer6" value ="incorrect">blah blah blah </input>
            <br />
            <input onfocusout="saveanswer('Opgave 2e svar', 'AnswerBox6')" type="radio" id="AnswerBox6" name="Answer6" value ="incorrect" >blah blah blah </input>
            <br />
</div>

