@page
@model Workspace_Razor.Pages.Opgaver.Opgave4Model
@{
    Layout = null;
}

<div class="task-window">
    
    <h1>Drag and drop</h1>

    <h2>Pickup</h2>
    <ul class="dragableList" id="pickupList" ondrop="drop(event)" ondragover="allowDrop(event)">
        <li class="draggable-item" draggable="true" ondragstart="pickup(event)">Item 1</li>
        <li class="draggable-item" draggable="true" ondragstart="pickup(event)">Item 2</li>
        <li class="draggable-item" draggable="true" ondragstart="pickup(event)">Item 3</li>
    </ul>

    <h2>Drop</h2>
    <ul class="dragableList" id="dropList" ondrop="drop(event)" ondragover="allowDrop(event)">
        <li class="draggable-item" draggable="true" ondragstart="pickup(event)">Drop items here</li>
    </ul>

</div>