@page
@model Workspace_Razor.Pages.Opgaver.Opgave4Model
@{
    Layout = null;
}

<div class="task-window">
  <h1>Eksperiment</h1>
  <p>Lav din egen mayonnaise ved at følge instruktionerne nedenfor.</p>
  <p>
    Pisk æggeblommen og salt til en sej masse. Tilsæt eddiken og nogle dråber af
    olien under kraftig piskning evt. med en håndmikser. Når massen bliver tyk
    tilsættes resten af olien i en tynd stråle under piskning.
  </p>
  <p>Klik og træk ingridenserne på deres rigtige plades</p>

  <div style="display:flex; gap:20px;">
    <div style="flex:1;">
      <h2>Ingredienser</h2>
      <ul class="dragableList" id="pickupList" ondrop="drop(event)" ondragover="allowDrop(event)">
        <li class="draggable-item" draggable="true" data-value="Eddike" ondragstart="pickup(event)">
          <img src="~/Img/Eksperiment/beaker.png" alt="Eddike" class="icon" />
          <span>Eddike</span>
        </li>
        <li class="draggable-item" draggable="true" data-value="Olie" ondragstart="pickup(event)">
          <img src="~/Img/Eksperiment/bottle.png" alt="Olie" class="icon" />
          <span>Olie</span>
        </li>
        <li class="draggable-item" draggable="true" data-value="Æg" ondragstart="pickup(event)">
          <img src="~/Img/Eksperiment/egg.png" alt="Æg" class="icon" />
          <span>Æg</span>
        </li>
        <li class="draggable-item" draggable="true" data-value="Salt" ondragstart="pickup(event)">
          <img src="~/Img/Eksperiment/salt.png" alt="Salt" class="icon" />
          <span>Salt</span>
        </li>
      </ul>
    </div>

    <div style="flex:1;">
      <p>Mix 2 ingredienser sammen til en masse her</p>
      <ul id="dropList-mix" class="dragableList">
        <li class="drop-slot" data-key="Ingredient1" ondragover="allowDrop(event)" ondrop="handleDrop(event)">
          Første ingrediens her
          <input type="hidden" id="Answer_Ingredient1" value="" />
        </li>
        <li class="drop-slot" data-key="Ingredient2" ondragover="allowDrop(event)" ondrop="handleDrop(event)">
          Anden ingrediens her
          <input type="hidden" id="Answer_Ingredient2" value="" />
        </li>
      </ul>

      <p>Hvad tilføjes under kraftig piskning?</p>
      <ul id="dropList-piskning" class="dragableList">
        <li class="drop-slot" data-key="Ingredient3" ondragover="allowDrop(event)" ondrop="handleDrop(event)">
          Tredje ingrediens her
          <input type="hidden" id="Answer_Ingredient3" value="" />
        </li>
      </ul>

      <p>Hvad tilføjes efter?</p>
      <ul id="dropList-efter" class="dragableList">
        <li class="drop-slot" data-key="Ingredient4" ondragover="allowDrop(event)" ondrop="handleDrop(event)">
          Fjerde ingrediens her
          <input type="hidden" id="Answer_Ingredient4" value="" />
        </li>
      </ul>
    </div>
  </div>
</div>





