@page
@model Workspace_Razor.Pages.Opgaver.Opgave4Model
@{
    Layout = null;
}
<!-- IGNORE -->
<!-- This is a basic template file. Do not delet this file -->
<div class="task-window">
    <h2>Opgave 4 Salt:</h2>
    <p>Køkkensalt er en ionforbindelse mellem Na+ ion og en Cl- ion.</p>
    <p>Når de er i krystalform (fast stof), er de i et iongitter. Iongitteret brydes af vandmolekylerne</p>
    
    <p>4a. Tegn (eller google) et iongitter af NaCl </p>
            <div class="image-options">
        <label style="display:inline-block;margin-right:8px;cursor:pointer;">
            <input onfocusout="saveanswer('Opgave 4a svar', 'Answer4a1')" type="radio" id="Answer4a1" name="Answer4a" value="incorrect" style="display:none;" />
            <img src="~/Img/Opgave4/nacl1.png" alt="Triglycerid 1" style="width:150px;height:150px;border:2px solid transparent;object-fit:contain;" onclick="selectImage('Answer4a1', this)" />
        </label>
        <label style="display:inline-block;margin-right:8px;cursor:pointer;">
            <input onfocusout="saveanswer('Opgave 4a svar', 'Answer4a2')" type="radio" id="Answer4a2" name="Answer4a" value="correct" style="display:none;" />
            <img src="~/Img/Opgave4/nacl3.png" alt="Option 2" style="width:150px;height:150px;border:2px solid transparent;object-fit:contain;" onclick="selectImage('Answer4a2', this)" />
        </label>
        <label style="display:inline-block;cursor:pointer;">
            <input onfocusout="saveanswer('Opgave 4a svar', 'Answer4a3')" type="radio" id="Answer4a3" name="Answer4a" value="incorrect" style="display:none;" />
            <img src="~/Img/Opgave4/nacl2.png" alt="Option 3" style="width:150px;height:150px;border:2px solid transparent;object-fit:contain;" onclick="selectImage('Answer4a3', this)" />
        </label>
    </div>
    <p>4b. Tegn et vandmolekyle og gør rede for hvor den positive pol og den negative pol er.</p>

    <p>4c. Tegn Na+ ion ved siden af vandmolekylet (ved den rigtige pol)</p>
                    <div class="image-options">
        <label style="display:inline-block;margin-right:8px;cursor:pointer;">
            <input onfocusout="saveanswer('Opgave 4c svar', 'Answer4c1')" type="radio" id="Answer4c1" name="Answer4c" value="incorrect" style="display:none;" />
            <img src="~/Img/Opgave4/nacl1.png" alt="Triglycerid 1" style="width:150px;height:150px;border:2px solid transparent;object-fit:contain;" onclick="selectImage('Answer4c1', this)" />
        </label>
        <label style="display:inline-block;margin-right:8px;cursor:pointer;">
            <input onfocusout="saveanswer('Opgave 4c svar', 'Answer4c2')" type="radio" id="Answer4c2" name="Answer4c" value="correct" style="display:none;" />
            <img src="~/Img/Opgave4/na1.png" alt="Option 2" style="width:150px;height:150px;border:2px solid transparent;object-fit:contain;" onclick="selectImage('Answer4c2', this)" />
        </label>
        <label style="display:inline-block;cursor:pointer;">
            <input onfocusout="saveanswer('Opgave 4c svar', 'Answer4c3')" type="radio" id="Answer4c3" name="Answer4c" value="incorrect" style="display:none;" />
            <img src="~/Img/Opgave4/nacl2.png" alt="Option 3" style="width:150px;height:150px;border:2px solid transparent;object-fit:contain;" onclick="selectImage('Answer4c3', this)" />
        </label>
    </div>
    <p>4d. Tegn Cl- ion ved siden af vandmolekylet.</p>
                    <div class="image-options">
        <label style="display:inline-block;margin-right:8px;cursor:pointer;">
            <input onfocusout="saveanswer('Opgave 4d svar', 'Answer4d1')" type="radio" id="Answer4d1" name="Answer4d" value="correct" style="display:none;" />
            <img src="~/Img/Opgave4/cl2.png" alt="Triglycerid 1" style="width:150px;height:150px;border:2px solid transparent;object-fit:contain;" onclick="selectImage('Answer4d1', this)" />
        </label>
        <label style="display:inline-block;margin-right:8px;cursor:pointer;">
            <input onfocusout="saveanswer('Opgave 4d svar', 'Answer4d2')" type="radio" id="Answer4d2" name="Answer4d" value="incorrect" style="display:none;" />
            <img src="~/Img/Opgave4/na1.png" alt="Option 2" style="width:150px;height:150px;border:2px solid transparent;object-fit:contain;" onclick="selectImage('Answer4d2', this)" />
        </label>
        <label style="display:inline-block;cursor:pointer;">
            <input onfocusout="saveanswer('Opgave 4d svar', 'Answer4d3')" type="radio" id="Answer4d3" name="Answer4d" value="incorrect" style="display:none;" />
            <img src="~/Img/Opgave4/nacl2.png" alt="Option 3" style="width:150px;height:150px;border:2px solid transparent;object-fit:contain;" onclick="selectImage('Answer4d3', this)" />
        </label>
    </div>
</div>

