@page
@model Workspace_Razor.Pages.Opgaver.Opgave1Model
@{
    Layout = null;
}

<div class="task-window">
    <h2>Task 1</h2>
    <p>This is the premade content for Task 1.</p>
    <input onfocusout="saveanswer('Opgave 1 svar', 'AnswerBox1')" type="text" id="AnswerBox1" name="Answer1" value="">
    <br>
    <p id="displayanswer"></p>
    <br>
    <p id="displaystorage"></p>
<br>
        <button onclick="allStorage()">show all storage</button>
<br>
        <button onclick="showanswer('savedkey1')">show answer</button>
</div>

