@page
@model Workspace_Razor.Pages.Opgaver.Opgave4Model
@{
    Layout = null;
}
<!-- IGNORE -->
<!-- This is a basic template file. Do not delet this file -->
<div class="task-window">
    <h2>Opgave 4 Salt:</h2>
    <p>Køkkensalt er en ionforbindelse mellem Na+ ion og en Cl- ion.</p>
    <p>Når de er i krystalform (fast stof), er de i et iongitter. Iongitteret brydes af vandmolekylerne</p>
    
    <p>4a. Tegn (eller google) et iongitter af NaCl </p>
    <p>4b. Tegn et vandmolekyle og gør rede for hvor den positive pol og den negative pol er.</p>
    <p>4c. Tegn Na+ ion ved siden af vandmolekylet (ved den rigtige pol)</p>
    <p>4d. Tegn Cl- ion ved siden af vandmolekylet.</p>
</div>

