@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--Please do not delete the sample files-->
<!--This is the main loading of the page for website-->
<!--The content inside <main> with pole RenderBody() in _Layout.cshtml will be replaced by the content of this file-->

<div class="text-center addjuster">
    <h1 class="display-4">EMU Mayonaisse forsøg</h1>
    <p>Som bekendt kan olie og vand ikke blandes. Men i mayonnaise er de faktisk blandet sammen. En normal mayonnaise indeholder ca. 80% fedt. Resten er fx eddike eller citronsaft, som mest består af vand.  Det der holder vandet sammen med olien er en emulgator. Emulgatorer virker nærmest som klister mellem vandet og olien. Derfor siger man også at mayonnaise er en emulsion, fordi vandet kan være blandet i olien. Emulgatoren i mayonnaise er æg.
</p>

<p>Du skal nu se teorien i praksis, og derfor skal du lave mayonnaise. Du skal også prøve at finde ud af hvor meget af olien du kan erstatte med Kvark uden at det går ud over smag og konsistens.
</p>
<p>Forbehandling: Vi skal nu se om vi vha. strukturformerne på ingredienserne, kan forklare deres funktion i mayonnaisen.  
</p>
<br>
<h3>Start med at gå ind på Mayonnaise Opgave</h3>
</div>
