@page
@model ResultsModel
@{
    ViewData["Title"] = "Results page";
}
<script src="js/jsSessionsStorage.js"></script>

        <div class="resultBlock">
            <p id="displaystorage"></p>
        </div>



<script>
window.onload = allStorage();
</script>
