:root {
    --primary-bar-color: #156082;
    --secondary-bar-color: #83cbeb;
    --third-bar-color: #112f3e;
    --accent-color: #f39c12;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Write your CSS styles in this file */
body {
    /* body style reset */
    display: flex;
    flex-direction: column;

    margin: 0;
    height: 100vh;

    background-color: lightgrey;
}

/* Header styles and settings */
header {
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    margin: 0;
}

main {
    display: flex;
    height: 100%;
}

/*Navbar styles*/
.navbar-left, .navbar-mid, .navbar-right, .navbar {
    display: flex;
    flex: 1;
    align-items: center;
}

.navbar {
    padding: 0;
    position: relative;
}
/* Navbar left is for logo */
.navbar-left {
    margin: 12px 10px;
    justify-content: flex-start;
    flex: 0.25;
}
/* Navbar center is for navlinks */
.navbar-center {
    display: flex;
    justify-content: center;
    align-self: stretch;
    width: fit-content;
    align-items: center;
    padding: 0 12px;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
.navbar-center a.nav-link{
    background-color: var(--third-bar-color);
    padding: 6px 12px;
    margin: 0 6px;
    border-radius: 4px;
}

/* Navbar right is for now unused */
.navbar-right {
    justify-content: flex-end;
}

/*Navlink styles*/
.nav-link {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0px 6px;
}

.main-wrapper {
    margin: 0 auto;
    box-sizing: inherit;
    background-color: var(--primary-bar-color);
    color: white;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: dimgray;
    position: sticky;
    left: 0;
    padding: 12px;
    border-right: 2px solid black;
}
.sidebar h2 {
    margin-top: 0;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar ul li {
    margin: 5px 0;
}

.opgaveBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    background-color: antiquewhite;
}

.resultBlock{
    display: grid;
}